
<!--
 * @Author: honghaosheng
 * @Date: 2023-07-11 09:12:25
 * @LastEditors: honghaosheng
 * @LastEditTime: 2023-07-18 14:44:28
 * 这里的map用到几种技术，一个就是echarts绘制地图，一个是用高德地图的web端口查询行政区，一个就是获取datav的geojson去给echarts绘制地图，逻辑是这样的，通过城市字段查询高德地图的行政区数据，拿到城市的adcode去datav的geojson获取区域的点位，再去给echarts绘制地图
-->
<template>
  <div id="map-container" 
  ref="myEchart" class="echarts-map" />
</template>
<script lang='js'>
import * as echarts from 'echarts'
import dataValue from './json/dataValue'
import geoCoordMap from './json/geoCoordMap'
import { getAdcode, getJson } from './json/geoJson'
// import china from './json/100000_full.json'
import { onBeforeMount, onBeforeUpdate, onBeforeUnmount, onMounted, reactive, ref } from '@vue/composition-api'
// 这里我是闲的定义在这里的
// 高德地图中国的adcode是100000
const adcode = '100000'
// 高德地图行政区的参数查询
const parameters = {
  // 这个key要用自己去高德申请的key
  key: 'cab2374a60206678667ce802defa8c20',
  keywords: '中国',
  subdistrict: 1
}
let areaName = ''
let chart = {}
let level = ''
export default {
  name: 'EchartsMap',
  components: { },
  props: {},
  // 通常都是放setup钩子函数里面用
  setup() {
    // 双向绑定数据这里注册
    const state = reactive({
      equipmentContent:'<html><div>这是tooltip嵌入网页</div></html>'
    })
    // 绑定ref,也就是vue2的this.$refs.ref
    const myEchart = ref()
    onMounted(() => {
      console.log('myEchart', myEchart.value)
      getGeoJson(adcode)
    })
    // mounted钩子函数
    onBeforeMount(() => {
      getAdcode('https://restapi.amap.com/v3/config/district?', parameters)
        .then((res) => { console.log('res', res) })
    })
    // update钩子函数
    onBeforeUpdate(() => {})
    // destory钩子函数
    onBeforeUnmount(() => {})

    // 获取阿里的数据fetch，axios都行，ajax也可以
    const getGeoJson = async(adcode) => {
      areaName = '中华人民共和国'
      // 注意了这个json放到服务器上是限流的会报403(代理问题还是啥来的)，所以可以下载文件到本地导入，例如上面的./json/100000_full.json
      const url = `https://geo.datav.aliyun.com/areas_v3/bound/${adcode}_full.json`
      await getJson(url).then(data => {
        console.log('获取数据', data.data)
        initMap(data.data)
      })
      // 本地导入使用datav的json
      // initMap(china)
      // fetch(url)
      //   .then(response => response.json())
      //   .then(data => {
      //     console.log('获取数据', data)
      //     initMap(data)
      //   })
      // axios.get('https://geo.datav.aliyun.com/areas_v3/bound/140110.json')
      //   .then((response) => {
      //     initMap(data)
      //   })
    }
    // 处理散点图的坐标，这个value的值是[经度,纬度,值]
    const convertData = function(data,index) {
      var res = []
      var sum = parseInt(data.length/3)
      for (var i = index*sum; i < sum*(index+1); i++) {
        var geoCoord = geoCoordMap[data[i].name]
        if (geoCoord) {
          res.push({
            // 对应geoCoordMap的name
            name: data[i].name,
            // [经度,纬度,值]
            value: geoCoord.concat(data[i].value)
          })
        }
      }
      console.log('res------------', res)
      return res
    }
    // 初始化echarts
    const initMap = async (data) => {
      console.log('地图名字：', areaName, data)
      // 地图map要注册
      echarts.registerMap(areaName, data)
      // var chart = echarts.init(document.getElementById('map-container'))
      // vue2全局注册的是用this.$echarts.init(dom)
      chart = echarts.init(myEchart.value)
      // 给图像设置一个点击事件
      chart.on('click', function(params) {
        console.log('点击获取的params', params)
        const type = params.componentType
        state.center = undefined
        parameters.keywords = params.name || ''
        if (type === 'geo') {
          if (level !== 'district') {
            fetchAdcode(chart, parameters)
          }
        } else if (type === 'series') {
          state.center = [params.data.value[0], params.data.value[1]]
          // 改变外面的数据展示
          // context.emit('mapClick', { ...params, level })
        }
      })
      // 给图像设置一个鼠标移上去事件
      chart.on('mousemove', function(params) {
        const type = params.componentType
        if (type === 'series') {
          // 把表格嵌入到弹窗
          const tooltip = document.getElementById('tooltip')
          tooltip.append(state.equipmentContent)
          // state.equipmentContent.style.display = 'block'
        }
      })
      // 给图像设置一个还原的事件，这种还原事件是需要dispatch触发的
      chart.on('restore', function(params) {
        parameters.keywords = '中国'
        console.log('还原事件', params)
        fetchAdcode(chart, parameters)
      })
      // 给图像设置一个图例检索事件
      chart.on('legendselectchanged', function(params) {
        // 这里给机器人做个品牌检索
        // context.emit('mapClick', { ...params, level: 'brand' })
        console.log('图例的检索事件', params)
      })
      const option = {
        legend: {
          show: true,
          top: 'center',
          right: 40,
          orient: 'vertical',
          textStyle: {
            color: '#000'
          }
        },
        color: ['#5470c6', '#91cc75', '#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4', '#ea7ccc'],
        tooltip: {
          show:false,
          trigger: 'item',
          // 移入触发
          triggerOn: 'mousemove',
          // alwaysShowContent: true,
          hideDelay: 5000, // 隐藏时间
          // borderColor: '12, 84, 139',
          backgroundColor: 'rgba(7, 12, 52,0.9)',
          confine: true,
          enterable: true, // 鼠标是否可进入图层
          extraCssText: 'z-index:2000;',
          // position: ['50%', '50%'],
          formatter: (param) => {
            console.log('params',param)
            const html = `<div id='tooltip' ref='tooltip' style='width:520px;height:350px'><div>`
            // param.data.address + '<br>' + param.data.value.slice(0, 2)
            return html
          }
        },
        toolbox: {
          show: true,
          orient: 'vertical',
          left: 'left',
          top: 'center',
          feature: {
            dataView: { readOnly: false },
            restore: {
              show: true
            },
            saveAsImage: {}
          }
        },
        // 画热力对照表，如果需要这个就会根据值来匹配颜色
        // visualMap: {
        //   min: 0,
        //   max: 500,
        //   text: ['High', 'Low'],
        //   realtime: false,
        //   calculable: true,
        //   left: '5%',
        //   bottom: '8%',
        //   textStyle: {
        //     color: '#000'
        //   },
        //   color: '#000333',
        //   inRange: {
        //     color: ['lightskyblue', 'yellow', 'orangered']
        //   }
        // },
        title: {
          text: '设备分布',
          top: 20,
          left: 'center',
          textStyle: {
            color: '#000333'
          }
        },
        // 这里用上面的visualMap替换
        // dataRange: {
        //   min: 0,
        //   max: 500,
        //   text: ['高', '低'],
        //   realtime: true,
        //   calculable: true,
        //   color: ['#131936', '#313876']
        // },
        // 这是第二种方式注册map画中国地图， 配置echarts的option的geo,将注册的地图yls放在echarts的geo中。series里的type:scatter设置coordinateSystem: 'geo'；type: "lines",coordinateSystem: "geo",才能实现散点和飞线效果
        geo: {
          map: areaName,
          show:true,
          zoom: 1,
          roam: true,
          center: state.center,
          tooltip:{
            // show:false
          },
          // 高亮设置
          emphasis:{
            disabled:true
          },
          scaleLimit: {
            min: 1.1,
            max: 100
          },
          label: {
            normal: {
              show: true,
              textStyle: {
                fontSize: 12,
                color: 'rgba(69, 194, 248,1)'
              }
            },
            // 高亮展示
            emphasis: {
              show: true,
              textStyle: {
                fontSize: 12,
                color: 'rgba(69, 194, 248,1)'
              }
            }
          },
          itemStyle: {
            normal: {
              borderColor: 'rgba(255,209,163, .5)', // 区域边框颜色
              areaColor: 'rgba(73,86,166,.1)', // 区域颜色
              borderWidth: 0.5, // 区域边框宽度
              shadowBlur: 5,
              shadowColor: 'rgba(107,91,237,.7)'
            },
            emphasis: {
              borderColor: '#FFD1A3',
              areaColor: 'rgba(102,105,240,.3)',
              borderWidth: 1,
              shadowBlur: 5,
              shadowColor: 'rgba(135,138,255,.5)'
            }
          }
        },
        // 这里用数组
        series: await getEquipmentList()
        // [
        // 这是第一种方式注册map画中国地图
        // {
        //   name: '犯罪数量',
        //   type: 'map',
        //   map: areaName,
        //   roam: true,
        //   mapLocation: {
        //     y: 60
        //   },
        //   itemStyle: {
        //     emphasis: { label: { show: true }},
        //     areaColor: 'rgba(24, 26, 58, 0.5)',
        //     // color: 'rgba(210, 205, 205, 0.5)'
        //     // borderWidth: 10
        //     borderColor: 'rgba(177, 148, 135,1)'
        //   },
        //   // 高亮下多边形的样式
        //   emphasis: {
        //     itemStyle: {
        //       areaColor: 'green',
        //       borderWidth: 2
        //     }
        //   },
        //   // 选中情况下
        //   select: {
        //     itemStyle: {
        //       areaColor: 'green'
        //     }
        //   },
        //   scaleLimit: {
        //     min: 1,
        //     max: 2
        //   },
        //   label: {
        //     show: false,
        //     color: 'yellow'
        //   },
        //   data: [
        //     { name: '广东省', value: 700 },
        //     { name: '广西壮族自治区', value: 600 },
        //     { name: '福建省', value: 500 },
        //     { name: '江西省', value: 400 },
        //     { name: '湖南省', value: 300 },
        //     { name: '贵州省', value: 200 },
        //     { name: '云南省', value: 100 }
        //   ]
        // },
        // ]

      }
      chart.setOption(option)
    }
    // 获取点数并重新渲染
    const fetchAdcode = (chart, parameters) => {
      getAdcode('https://restapi.amap.com/v3/config/district?', parameters)
        .then((res) => {
          if (res.status === '1') {
            const district = res.districts[0]
            level = district.level
            // 如果点击的是散点
            getGeoJson(district.adcode, level === 'district' ? '' : '_full')
          }
          chart.dispose()
        })
      
    }
    // 获取列表数据(复习下promise)
    const getEquipmentList =   ()=>{
      return new Promise((resolve,reject)=>{
        const arr = []
        let series = {}
        let lines = {}
        for (let index = 0; index < 3; index++) {
          // series基本设置
          series = {
            name: 'pm2.5数据'+index,
            type: 'scatter',
            // 这里设置点图变化是根据data还是series
            colorBy: 'series',
            coordinateSystem: 'geo',
            data:  convertData(dataValue.data,index),
            // data: [{ name: '江门', value: [112, 22, 400] }],
            symbolSize: function(val) {
              return val[2] / 10
            },
            encode: {
              value: 2
            },
            label: {
              formatter: '{b}',
              position: 'right',
              show: false
            },
            emphasis: {
              label: {
                show: true
              }
            },
            tooltip:{
              show:true
            }
          }
          lines =  {
            type: 'lines',
            // 按照这个格式把地图地点的图整上去就可以实现飞线图
            data: [{
                // 起点终点线绘制
                coords: [[120.33, 16], [91.11, 29]],
              },
              {
                // 起点终点线绘制
                coords: [[120.33, 40], [91.11, 29]],
              },{
                // 起点终点线绘制
                coords: [[120.33, 36], [91.11, 29]],
              },],
            // 定义线条样式
            lineStyle: {
              width: 1,
              color: 'rgba(30, 144, 255, 0.6)',
              curveness: 0.2 // 弧线曲度，值越大曲线越明显
            },
            // 单独可以控制弹窗展示
            tooltip:{
              show:true
            }
          }
          arr.push(series)
          if(index === 2)
          arr.push(lines)
        }
        if (Object.keys(arr).length){
          console.log('处理后的serial',arr)
          resolve(arr)
          return
        }
        else
         reject('获取数据错误')
      })
    }
    return {
      state,
      myEchart,
      getGeoJson,
      initMap,
      convertData,
      fetchAdcode,
      getEquipmentList
    }
  }
}
</script>
  <style lang='scss' scoped>
  .echarts-map{
    width: 100%;
    height: 100%;
  }
  </style>

